/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Quicksand:wght@300..700&display=swap');

/* variables */
:root {
    --primary-font: "Quicksand", sans-serif;
    --secondary-font: "Lexend" sans-serif;
    /* purple */
    --background-colour-1: #3d1047;
    /* blue */
    --background-colour-2: #060348;
    /* light blue */
    --highlight-colour-1: #b7e1ff;
    /* light green */
    --highlight-colour-2: #a1ffb2;
    /* warning colour */
    --warning-colour: #e3170a;
}