/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Quicksand:wght@300..700&display=swap');

/* variables */
:root {
    --primary-font: "Quicksand", sans-serif;
    --secondary-font: "Lexend" sans-serif;
    /* purple */
    --background-colour-1: #3d1047;
    /* blue */
    --background-colour-2: #060348;
    /* light blue */
    --highlight-colour-1: #b7e1ff;
    /* light green */
    --highlight-colour-2: #a1ffb2;
    /* light purple */
    --highlight-colour-3: #dfa9ff;
    /* bluepurple */
    --highlight-colour-4: rgb(157, 145, 255);
    /* offwhite purple */
    --highlight-colour-5: #f7eeff;
    /* offwhite uhhh */
    --highlight-colour-6: #f0d5f6;
    /* warning colour */
    --warning-colour: #e0463b;
}

/* general styles */

body {
    font-family: var(--primary-font);
    /* push content down to avoid navbar */
    padding-top: 56px;
    background-color: var(--highlight-colour-1);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    font-weight: bold;
}

p {
    font-weight: bold;
}

.active {
    color: var(--highlight-colour-2);
}

.vertical-align-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    font-weight: bold;
    color: var(--background-colour-2);
}

ul {
    font-weight: bold;
}

.card {
    color: var(--background-colour-2);
}

/* navbar */

#navbar {
    background-color: var(--background-colour-1);
}

#brand-text {
    font-family: var(--secondary-font);
    font-weight: bold;
    color: var(--highlight-colour-1);
}

.links-text {
    font-family: var(--primary-font);
    font-weight: bold;
}

/* header */

.hero {
    /* background-image: url(../images/hero_image.webp); */
    background: url(../images/hero_image.webp) no-repeat 75% / cover;
    padding: 10%;
    margin-top: 15px;
    border-radius: 15px;
}

.text-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 5%;
    border-radius: 15px;
}


.hero-title {
    /* gradient on text */
    background-image: linear-gradient(to right, var(--highlight-colour-1), var(--highlight-colour-2));
    color: transparent;
    background-clip: text;
    font-weight: 700;
}

.hero-text {
    color: var(--highlight-colour-1);
}

/* intro information */
#intro-information {
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro-text-box {
    background-color: var(--highlight-colour-5);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.intro-title {
    background-image: linear-gradient(to right, var(--background-colour-1), var(--background-colour-2));
    color: transparent;
    background-clip: text;
    font-weight: 700;
}

.intro-text {
    color: var(--background-colour-2);
    font-weight: bold;
}

.intro-image {
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
}

/* extra information section */

#extra-information {
    background-color: var(--highlight-colour-3);
    padding-top: 15px;
    border-radius: 15px;
}

.extra-title-text {
    background-image: linear-gradient(to right, var(--background-colour-1), var(--background-colour-2));
    color: transparent;
    background-clip: text;
    font-weight: 700;
}

.extra-info-card {
    background-color: var(--highlight-colour-5);
    border-radius: 15px;
}

/* external resources section */
#external-resources {
    padding-top: 15px;

    margin-top: 15px;
    border-radius: 15px;
    background-color: var(--highlight-colour-5);
}

.external-resources-title-text {
    background-image: linear-gradient(to right, var(--background-colour-1), var(--background-colour-2));
    color: transparent;
    background-clip: text;
    font-weight: 700;
}

.external-resources-info-text {
    color: var(--background-colour-2)
}

.external-resources-card {
    background-color: var(--highlight-colour-6);
    border-radius: 15px;
}

/* contact section on main page */

#contact {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: var(--highlight-colour-3);
}

.contact-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-title-text {
    background-image: linear-gradient(to right, var(--background-colour-1), var(--background-colour-2));
    color: transparent;
    background-clip: text;
    font-weight: 700;
}

.contact-info-text {
    color: var(--background-colour-2);
}

.contact-picture {
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
}

/* reassurance section */
#reassurance {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: var(--highlight-colour-6);
}

.reassurance-title-text {
    background-image: linear-gradient(to right, var(--background-colour-1), var(--background-colour-2));
    color: transparent;
    background-clip: text;
    font-weight: 700;
}

.reassurance-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reassurance-info-text {
    color: var(--background-colour-2);
}

.reassurance-picture {
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
}


/* contact page */
/* page needs a header so i will just put the title there, i want the form and its text in the body so only */
/* give a border radius to the top */
#contact-page-header {
    margin-top: 15px;
    background-color: var(--highlight-colour-3);
    border-radius: 15px;
}

.contact-page-header-title-text {
    background-image: linear-gradient(to right, var(--background-colour-1), var(--background-colour-2));
    color: transparent;
    background-clip: text;
    font-weight: 700;
}

#contact-page-form {
    background-color: var(--highlight-colour-5);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.contact-form-text-box {
    color: var(--background-colour-2);
    font-weight: bold;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form-box {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#emergency {
    background-color: var(--warning-colour);
    color: white;
    border-radius: 15px;
    font-size: 1.3rem;
}

/* success page */

#success-page-header {
    margin-top: 15px;
    background-color: var(--highlight-colour-3);
    border-radius: 15px;
}

.success-page-header-title-text {
    background-image: linear-gradient(to right, var(--background-colour-1), var(--background-colour-2));
    color: transparent;
    background-clip: text;
    font-weight: 700;
}

.success-page-message-box {
    background-color: var(--highlight-colour-5);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: var(--background-colour-2);
}

.success-page-message-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.success-page-success-image {
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
}

/* footer */
#footer {
    background-color: var(--background-colour-1);
}

.footer-box {
    margin-top: 15px;
}

.citations {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-title-text {
    color: var(--highlight-colour-1);
}

.footer-icon {
    color: var(--highlight-colour-1);
    font-size: 1.5rem;
    margin: 5px;
    transition: all 0.5s;
}

.footer-icon:hover {
    color: var(--highlight-colour-2);
    transform: scale(1.1);
    transition: all 0.5s;
}

/* buttons */
#contact-button-nav {
    border: 2px solid var(--highlight-colour-1);
    background-color: var(--highlight-colour-1);
    color: var(--background-colour-2);
    font-weight: bold;
    transition: all 0.5s;
}

#contact-button-nav:hover {
    border: 2px solid var(--highlight-colour-2);
    background-color: var(--highlight-colour-2);
    transform: scale(1.1);
    transition: all 0.5s;
}

#contact-button-nav-current {
    border: 2px solid var(--highlight-colour-2);
    background-color: var(--highlight-colour-2);
    color: var(--background-colour-2);
    font-weight: bold;
    transition: all 0.5s;
}

#contact-button-nav-current:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.contact-button-section {
    border: 2px solid var(--background-colour-2);
    background-color: var(--background-colour-2);
    transition: all 0.5s;
}

.contact-button-section:hover {
    border: 2px solid var(--background-colour-1);
    background-color: var(--background-colour-1);
    transform: scale(1.1);
    transition: all 0.5s;
}

.contact-button-section-text {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

.navbar-button {
    color: var(--highlight-colour-1);
    font-size: 1.5rem;
}

/* media queries */
/* this max width needs to be 1px below the break point otherwise there is a single window size that has the */
/* split columns but no image */
@media screen and (max-width: 767px) {

    /* hide image on small screens so website is easier to scroll, it exists on larger screens to make it look nicer */
    .contact-picture {
        display: none;
    }
}

/* same as above */
@media screen and (max-width: 991px) {

    /* hide image on small screens so website is easier to scroll, it exists on larger screens to make it look nicer */
    .intro-image {
        display: none;
    }

}


/* medium screens and up */
@media screen and (min-width: 768px) {

    /* fix card heights in external resources section do this with buttons instead so they go to the bottom of the card */
    .external-button-4 {
        padding-top: 25px;
    }

    /* fix reassurance section having too much space at the bottom on medium screens and up */
    .reassurance-info-text {
        margin-bottom: 0px;
    }
}

/* large screens and up */
@media screen and (min-width: 992px) {

    /* fix card heights in extra information section*/
    .card-2 {
        padding-bottom: 63.83px;
    }

    .card-1 {
        padding-bottom: 80px;
    }

    /* fix card heights in external resources section */
    .external-button-4 {
        padding-top: 0;
    }

    /* fix hero being to close to navbar */
    .hero {
        margin-top: 22px;
    }
}

/* xl screens and up */
@media screen and (min-width: 1200px) {

    /* fix card heights in extra information section*/
    .card-2 {
        padding-bottom: 48px;
    }

    .card-1 {
        padding-bottom: 80px;
    }

    /* fix card heights in external resources section */
    .external-button-4 {
        padding-top: 24px;
    }

}

/* xxl screens and up */
@media screen and (min-width: 1400px) {

    /* fix card heights in extra information section */
    .card-2 {
        padding-bottom: 72px;
    }

    .card-1 {
        padding-bottom: 56px;
    }

    /* fix card heights in external resources section */
    .external-button-1,
    .external-button-2,
    .external-button-4 {
        padding-top: 24px;
    }
}